/* Add application styles & imports to this file! */
@import "./styles/modal";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Lato;
}

.cdk-global-overlay-wrapper {
  display: flex;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cdk-overlay-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  opacity: 0;
}

.cdk-overlay-backdrop-showing.dark-backdrop {
  background: $gray-1500;
  opacity: 0.72;
}

.cdk-overlay-pane {
  background: white;
  animation: modalSlideFromAbove 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  overflow-y: auto;
  width: 100%;
  height: fit-content;
}

.cdk-overlay-pane.rightside {
  width: 52rem;
  background: white;
  height: 100%;
  margin-left: auto;
  animation: modalSlideFromRight 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cdk-overlay-pane.leftside {
  width: 52rem;
  background: white;
  height: 100%;
  margin-right: auto;
  animation: modalSlideFromLeft 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes modalSlideFromLeft {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-0.5rem);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes modalSlideFromRight {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  50% {
    transform: translateX(0.5rem);
    opacity: 0.9;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes modalSlideFromAbove {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
}
